In [1]:
import pandas as pd

# 따릉이 이용현황

## 자전거 이용현황을 알아보기 위함.

In [2]:
# _201901=pd.read_csv('201901.csv',encoding='cp949')
# _201904=pd.read_excel('201904.xlsx')
# _201906=pd.read_excel('201906.xlsx')
# _201912=pd.read_excel('201912.xlsx')
data=pd.read_csv('따릉이_201901_202006.csv')

In [3]:
# _201901['대여일시']=_201901['대여일시'].str.replace('-','')
# _201901['대여일시']=pd.to_datetime(_201901['대여일시'],format="%Y%m%d")
# _201904['대여일시']=_201904['대여일자']
# _201904=_201904.drop(['대여일자'],axis=1)

# data=pd.concat([_201901,_201904,_201906,_201912],axis=0)

In [4]:
# data.to_csv('따릉이_201901_202006.csv',index=False)

In [5]:
data['대여일시']=data['대여일시'].str.replace('-','')
data['대여일시']=pd.to_datetime(data['대여일시'],format="%Y%m%d")

data['월']=data['대여일시'].apply(lambda x:x.month)
data['년']=data['대여일시'].apply(lambda x:x.year)

### 2019년에 비해 2020년 자전거 이용이 늘었다. (1월~5월)
### 코로나 등 여러 이유가 있지만, 결론은 전년대비 1~5월 평균 자전거 이용이 늘었다.
### 사람들은 자전거를 꾸준히 탈 의향이 있다.

In [6]:
data.groupby(['년','월'])['대여건수'].agg(['sum','mean'])

             sum          mean
년    월
2019 1    495573  15986.225806
     2    471543  16840.821429
     3    904819  29187.709677
     4   1468000  48933.333333
     5   2232895  72028.870968
     6   2293879  76462.633333
     7   2164086  69809.225806
     8   2101184  67780.129032
     9   2084222  71869.724138
     10  2436401  78593.580645
     11  1537269  51242.300000
     12   882078  28454.129032
2020 1    794162  25618.129032
     2    762274  26285.310345
     3   1533535  49468.870968
     4   2157390  71913.000000
     5   2480330  80010.645161

# 경륜 자전거 보관 현황

In [7]:
data=pd.read_csv('bicycle.csv')

In [8]:
data=data.loc[data['CYCLE_KEEP']>0]

In [9]:
data['date']=pd.to_datetime(data['MAX_RACE_DAY'],format="%Y%m%d")

data['month']=data['date'].apply(lambda x:x.month)

In [10]:
data.groupby(['STND_YEAR','month'])['CYCLE_OUT'].sum()

STND_YEAR  month
2019       3        24
           4        22
           5        23
           6        30
           7        23
           8        24
           9        21
           10       24
           11       24
           12       29
2020       1        24
           2        23
Name: CYCLE_OUT, dtype: int64

### 평균 113대를 가지고 있고, 그중 월 평균 24대정도 반출된다.
### 그래서, 남은 자전거 중 일정 부분을 일반인에게 사업을 해도 괜찮겠다고 생각했다.